
.check {float: left; position: relative; width: 20px; height: 20px; border: 2px solid #999;}
.checked::after {content: ""; display: block; position: absolute; top: 5px; left: 3px; transform: rotate(-40deg); width: 3px; height: 9px; background: #999;}
.checked::before {content: ""; display: block; position: absolute; top: 7px; left: 4px; transform: rotate(-50deg); width: 12px; height: 3px; background: #999;}
.input {float: right; width: 92%; height: 100%; font-family: NotoKR_L; font-size: 16px; padding: 0 5px; border-bottom: 1px solid #999; background: rgb(252, 251, 248);}
.checked ~ .input {text-decoration: line-through; color: #999;}

