.calendar {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; height: 90%; background: rgb(252, 251, 248); border-radius: 5px;}
.week {width: 100%; height: 14.285714%;}
.item {font-family: QM; float: left; width: 12.5%; height: 100%; font-size: 15px; padding: 90px 0 0 15px; border-bottom: 1px solid #999; border-right: 1px solid #999;}
.ym {font-family: NotoKR_L; font-size: 25px; padding: 52px 0 0 130px;}
.ym p {font-size: 25px; margin-left: -20px; margin-bottom: 5px;}




