@font-face {
    font-family: NotoKR_L;
    src: url(./font/NotoSerifKR-Light.otf);
}

@font-face {
    font-family: QM;
    src: url(./font/Quicksand-Medium.ttf);
}

body {overflow: hidden; position: relative; width: 100%; height: 100vh; background: #999;}
.clear_fix::after {content: ''; display: block; clear: both;}